.footer {
  background-color: var(--bleuf);
  color: var(--white);
  padding: 3rem 10%;
  margin-top: 4rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__text {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
