@import url("../base/variables.css");

.header {
  background-color: var(--bleuf);
  padding-top: 4rem;
  padding: 2rem 10%;
  position: relative;
  z-index: 1000;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  position: relative;
  z-index: 2000;
}

.header__logo {
  height: 60px;
  width: auto;
}

.header__site-name {
  color: var(--cream);
  font-family: serif;
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 500;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  z-index: 2000;
}

.header__lang-icon {
  width: 40px;
  height: auto;
}

.header__menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__toggle-icon img {
  width: 45px;
  display: block;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bleuf);
  z-index: 900;
  display: flex;
  padding-top: 150px;
  padding-left: 10%;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: var(--transition);
}

.header__nav--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header__menu-list {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.header__menu-item {
  margin-bottom: 2rem;
}

.header__menu-link {
  color: var(--cream);
  text-decoration: none;
  font-family: serif;
  font-size: 1.5rem;
  font-weight: 400;
  transition: color 0.3s ease;
  display: block;
}

.no-scroll {
  overflow: hidden;
}
