.card__button {
  background-color: var(--cream);
  border: 1px solid var(--bleuf);
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-left: 35px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  min-height: 40px;
}

.card__button a {
  text-decoration: none;
  color: var(--bleuf);
  font-family: "Playfair Display", serif;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.2;
}
