@import url("../variables.css");

.card__button-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.card__svg {
  width: 1.75rem;
  height: auto;
  filter: drop-shadow(0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.15));
  transition: transform var(--transition);
}

.card__button {
  background-color: var(--cream);
  border: 0.0625rem solid var(--bleuf);
  padding: 0.375rem 1rem;
  cursor: pointer;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button a {
  text-decoration: none;
  color: var(--bleuf);
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
