.hero-image {
  width: 100%;
  border-radius: 10%;
  margin-bottom: 2rem;
  object-fit: cover;
}

.card {
  background: transparent;
}

.card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
